.form-container{
    padding: 4rem 6rem;
    color: #000; 
    background-color: #ffbc24;
}

.form-container form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}

.form-container input{
    height: 3rem;
    padding: 0 1rem;
    margin-bottom: 2rem;
    /* border-radius: 0.3rem; */
    background-color: #ffbc24;
    border-bottom: 3px solid #78310c;
    font-style:bold;
    border-left: none;
    border-right: none;
    border-top: none;
    color:#78310c;
    font-weight: bold;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d1520f;
    /* font-family: 'Times New Roman', Times, serif; */
    font-weight: bold;
    font-size: large;
    /* opacity: 1; Firefox */
  }
  

.form-container textarea{
    padding: 1rem;
    margin-bottom: 2rem;
    /* border-radius: 0.3rem; */
    background-color: #ffbc24;
    border-bottom: 3px solid #78310c;
    border-left: none;
    border-right: none;
    border-top: none;
    color:#78310c;
    font-weight: bold;
}
.form-container button{
    display: inline;
    margin-bottom: 2rem;
    font-size: large;
}

@media screen and (max-width:850px) {
    .form-container form{
        padding-top: 2rem;
        width: 90%;
    }
    .form-container{
        padding: 4rem 2rem; 
    }
}